// Colors
$primary: rgba(50, 114, 49, 1);
$primary-background: #EAFFEA;
$secondary: rgba(206, 103, 39, 1);
$secondary-background: #FFE9DB;
$text: black;

$input-border-color: #C4C4C4;
$input-icon-color: black;
$input-color: black;

// Fonts
$family-sans-serif: 'Montserrat', 'sans-serif';

// Timeline
$timeline-marker-background-color: $primary-background;
$timeline-marker-border: $primary;
$timeline-line: $primary;