// Colors
$primary: rgba(50, 114, 49, 1);
$secondary: rgba(206, 103, 39, 1);
$dark: rgba(34, 26, 6, 1);
$light: rgba(238, 235, 231, 1);

// Fonts
$sans: 'Roboto', 'sans-serif';
$serif: 'New Tegomin', 'serif';
$handwriting: 'Indie Flower', 'cursive';
$display: 'Staatliches', 'cursive';

$normal: 400;
$bold: 700;

// Sizing
$base:        1.6rem;
$medium:      3rem;
$large:       5rem;
$extra-large: 7rem;
