// Fonts
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCSS HEX */
// $fern-green: #327231ff;
// $black-chocolate: #221a06ff;
// $chocolate-web: #ce6727ff;
// $platinum: #eeebe7ff;

/* SCSS RGB */
$fern-green: rgba(50, 114, 49, 1);
$black-chocolate: rgba(34, 26, 6, 1);
$chocolate-web: rgba(206, 103, 39, 1);
$platinum: rgba(238, 235, 231, 1);

* {
  font-family: "Roboto", sans-serif;
}

// layout
.container {
  @apply mx-auto px-4;
}

@import "project";