@import "../vars";
@import "~bulma";

.contact-text {
  color: $primary;
}

.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadow {
  border: 1px dashed #990000;
  @include desktop {
    -webkit-box-shadow: -50px 50px 0px 0px rgba(240, 252, 236, 1);
    box-shadow: -50px 50px 0px 0px rgba(240, 252, 236, 1), -50px 50px 0px 1px black;
    margin-bottom: 7.8125rem;
  }
}

.form-shadow {
  @include shadow();
  border: solid 1px grey;
}
