.hero {
  position: relative;
  background: #ffffff80;

  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
