@import "../vars";

.section-farmer-hero {
  padding: 0;

  .farmer-hero-no-image {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;

    p {
      font-weight: bold;
      margin-top: 1rem;
    }
  }

  .farmer-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;

    h2 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 24px;
    }

    p {
      font-size: 18px;
    }

    .divider {
      background: rgba(0,0,0, 50%);
      border: none;
      margin: 2rem 0;
    }
  }

  .hero-content > * {
     flex-basis: 100%;
  }
}

.story {
  margin: 6rem 8rem 4rem 8rem;
  text-align: center;

  .story-header {
    text-align: center;
    font-size: 48px;
    color: $primary;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .story-body * {
    text-align: center;
    font-size: 28px;
    color: black;
  }
}

.section-farmer-gallery {
  padding: 8rem 10rem;
  background: $secondary-background;

  .gallery-header {
    text-align: center;
    font-size: 48px;
    margin-bottom: 1rem;
  }

  .gallery-text {
    text-align: center;
    font-size: 36px;
    margin-bottom: 4rem;
  }

  .gallery {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, auto);
    margin: 3rem 4rem;
    justify-content: center;

    img {
      object-fit: cover;
      width: 218px;
      height: 128px;

      &:hover {
        -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
      }
    }

    p {
      text-align: center;
      font-weight: bold;
    }
  }
}