@use "../vars" as *;
@use "~bulma-carousel" as carousel;

$page-margin: 4rem;

.section-municipality-hero {
  display: flex;
  flex-direction: row;

  .municipality-image {
    flex-basis: 100%;
  }

  .municipality-text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 $page-margin;

    .municipality-title {
      font-size: 48px;
    }

    .municipality-description {
      font-size: 24px;
    }
  }
}

.section-farmers {
  background-color: $primary-background;
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding-top: 5rem;

  .info {
    flex-basis: 100%;
    margin: 0 $page-margin $page-margin;

    h2 {
      font-size: 48px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 36px;
      color: rgba(0,0,0,.8);
    }

    hr {
      margin: $page-margin 0;
      background-color: rgba(0,0,0,.5);
    }

    .map {
      flex-grow: 1;
      height: 100%;
      width: 100%;

      iframe {
        height: 65%;
        width: 100%;
      }
    }
  }

  .farmers {
    flex-basis: 100%;
    overflow: hidden;

    .column {
      display: flex;
      height: 100%;
      width: 100%;
      padding: 0 5rem 5rem;

      .card {
        height: 100%;
      }
    }
  }
}
.section-projects {
  margin: 0 $page-margin;

  .project-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    .project-image {
      object-fit: cover;
    }

    .card-content {
      height: 100%;
      display: flex;
      flex-direction: column;

      div.content {
        flex-grow: 1;
      }
    }
  }
}