// Components
@use "../components/timeline";

.news-hero {
  width: 60%;
  margin: auto;
}

.search-input {
  width: 60%;
  margin: auto;
}

.clear-filter {
  width: 60%;
  margin: 0 auto;
}

.search-button {
  border-left: 0;
  border-color: #b5b5b5;
}

.section-timeline {
  padding: 0;
}

//mobile
@media only screen and (max-width: 768px) {
  .news-hero {
    width: 90%;
  }

  .search-input {
    width: 90%;
  }
}