@import "../vars";
@import "bulma/sass/utilities/_all.sass";

.section-project-hero {
  padding: 0;

  .project-hero-image {
    max-width: 50vw;
  }

  .project-hero-no-image {
    background-color: $placeholder-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;

    p {
      font-weight: bold;
      margin-top: 1rem;
    }
  }

  .hero-content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;

    .project-name {
      font-size: 56px;
    }

    .municipality-text {
      font-size: 24px;
    }

    a {
      margin-top: 3rem;
      max-width: 25%;
    }
  }

  .hero-content > * {
    flex-basis: 100%;
  }
}

.section-project-info {
  background-color: $secondary-background;
  padding: 4rem;

  .project-info-title {
    font-size: 48px;
    margin-bottom: 4rem;
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 6rem 4.5rem;

    .when,
    .where,
    .what {
      h4 {
        font-weight: bold;
        font-size: 24px;
      }

      p {
        font-size: 18px;
        color: rgba(0,0,0, 0.8);
      }
    }

    .map iframe{
      width: 100%;
      height: 100%;
      min-height: 25vh;
    }
  }
}

.section-attendees {
  padding: 4rem;

  .attendee-title {
    font-size: 48px;
    margin-bottom: 4rem;
  }

  .attendees {
    display: grid;
    gap: 1rem 3rem;
    justify-content: center;
    grid-template-columns: repeat(2, auto);

    .attendee {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      .attendee-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100vh;
        margin-bottom: 3rem;
      }

      .attendee-title {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 2rem;
      }

      .attendee-text {
        font-size: 18px;
        color: rgba(0,0,0, 0.8);
        margin-bottom: 3rem;
      }

      .button {
        width: 20%;
      }
    }
  }
}