.box {
    padding: ($base * 2) 0;
    margin: $base 0;

    &.primary,
    &.secondary {
        color: $light;
    }
    
    &.primary {
        background: $primary;
    }
    
    &.secondary {
        background: $secondary;
    }
}
