.footer {
    background-color: $secondary;
    padding: $base * 2;
    position: relative;
    padding-top: 0.25rem;

    a {
        text-decoration: none;
        color: $light;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-title {
    font-weight: $bold;
    color: $light;
    text-align: center;
    margin-top: $base;
    text-transform: uppercase;
}

.footer-text {
    text-align: center;
    display: block;
    font-size: $base;
    font-style: normal; // change
    &:hover {
        color: $light;
    }
}

.footer-wrapper {
    //@apply sm:mt-0 mt-8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
