@import "tailwindcss/utilities";

a {
    text-decoration: none;
    color: $light;
}
a:hover {
    text-decoration: underline;
    color: $light;
}
.footer {
    background-color: $secondary;
    padding: $base * 2;
}

.footer-title {
    font-weight: $bold;
    color: $light;
}

.footer-text {
    text-align: center;
    display: block;
    font-size: $base;
    font-style: normal;
}