.field {
    width: 100%;
    margin: $base 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
        margin-bottom: $base / 2;
    }
}

.input {
    position: relative;
    padding: $base 0 0;
}

input {
    &[type=checkbox],
    &[type=radio] {
        margin-right: $base;
    }

    &[type=file] {
        &:focus {
            outline: none;
        }
    }
}

.input label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
}

.input input, 
.input textarea {
    width: 100%;
    border-bottom: 1px solid $dark;
    outline: 0;
    padding: $base 0 $base / 2 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ label {
        cursor: text;
        top: 20px;
    }

    &:focus {
        ~ label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            color: $primary;
            font-weight: $bold;
        }
        margin-top: $base / 2;
        padding-bottom: $base / 2;
        border-width: 3px;
        border-color: $primary;
    }

    &:required, 
    &:invalid { 
        box-shadow: none; 
    }
}

.input textarea {
    border: 1px solid $dark;
}

.success {
    color: $primary;
}