.hero {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://uploads-ssl.webflow.com/6062484f7014d2512dbb961e/6062bd88f025eb3298e0238a_bg.jpg");
    background-position: 0;
    background-size: 130%, 105%;
    background-repeat: repeat, no-repeat;
    height: 400px;

    .content {
        h1 {
            color: $light;
            text-shadow: 4px 0px $dark;
        }
        
        p {
            color: $light;
            font-weight: bold;
            font-size: 2.1rem;
            text-shadow: 2px 0px $dark;
        }
    }
}
