footer a {
    color: black;
}

.is-horizontal-center {
    justify-content: center;
}

footer hr + div {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

footer .media-links {
    width: fit-content;
}

footer .text-link {
    color: green;
    text-decoration: underline;
    text-align: center;
}

footer .no-text-wrap {
    white-space: nowrap;
}