footer {
    a {
        color: $text;
    }

    .links {
        font-weight: 800;
    }

    .is-horizontal-center {
        justify-content: center;
    }

    hr {
        border-top: 1px solid black;

        & + div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .media-links {
        width: fit-content;

        span {
            opacity: 0.6;
        }

    }
    .text-link {
        color: $primary;
        text-decoration: underline;
        text-align: center;
    }

    .no-text-wrap {
        white-space: nowrap;
    }
}
