@use "../vars" as vars;
@use "~bulma/sass/utilities/mixins" as *;
@use "../components/carousel" as carousel;

.partners-slideshow {
    text-align: start;

    .carousel {
        min-height: 25rem;

        .card {
            height: 100%;
            padding: 0 4rem;
            box-shadow: none;

            .card-content {
                display: grid;
                grid-template-columns: 3fr 2fr;
                gap: 6rem;
                height: 100%;

                .info-container {
                    display: flex;
                    flex-direction: column;

                    > * {
                        flex: 3;
                    }

                    > .spacer {
                        flex: 2;
                    }

                    .info {
                        flex: 0;
                        //align-self: center;
                    }
                }

                .image {
                    height: 100%;
                    border-radius: 15px;
                    border: 1.5px solid #000000;
                    padding: 3rem;
                    position: relative;

                    img {
                        height: 80%;
                        width: 80%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        object-fit: contain;
                        position: absolute;
                    }
                }
            }
        }
    }
}
