@import "../vars";

$timeline-background-color: $primary-background !default;
$timeline-border-color: $primary !default;
$timeline-block-spacing: 3rem 1.5rem !default; // spacing around timeline item content
$timeline-block-width: 750px !default;
$timeline-block-height: 440px !default;
$timeline-space: 15% !default; // amount of space the timeline column takes
$timeline-content-width: 50% !default;

.timeline {
  width: 100%;
  display: flex;
  flex-direction: column;

  .timeline-header {
    color: $text;
    width: 100%;
    display: flex;
    justify-content: center;

    span {
      background-color: $timeline-background-color;
      border: 1px solid $timeline-border-color;
      border-radius: 0;
      padding: 1.3rem 1.2rem;
    }
  }

  .timeline-item {
    display: flex;
    background-color: $timeline-background-color;
    width: 100%;

    .timeline-image {
      flex-basis: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      order: 3;
      display: flex;
      justify-content: center;

      img {
        width: $timeline-block-width;
        height: $timeline-block-height;
        object-fit: cover;
        padding: $timeline-block-spacing;
      }
    }

    .timeline-marker {
      flex-basis: $timeline-space;
      flex-grow: 1;
      flex-shrink: 1;
      order: 2;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        border: 1px solid $timeline-border-color;
      }

      // Timeline (line)
      &::before {
        top: 0;
        width: 1px;
        height: 100%;
        z-index: 10;
        left: calc(50% - 1px);
      }

      // Circle on Timeline
      &::after {
        top: 50%;
        width: 25px;
        height: 25px;
        border-radius: 100vh;
        background-color: $timeline-background-color;
        z-index: 20;
        left: calc(50% - 12.5px);
      }
    }

    .timeline-content {
      flex-basis: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      order: 1;
      width: $timeline-content-width;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: center;
      justify-content: center;

      .timeline-content-wrapper {
        width: $timeline-block-width;
        padding: $timeline-block-spacing;
      }
    }

    &:nth-child(2n) {
      background: white;

      .timeline-image {
        order: 1;
      }

      .timeline-content {
        order: 3;
      }
    }
  }
}

// from mobile to tablet (landscape)
@media screen and (max-width: 1024px) {
  .timeline {
    .timeline-header {
      display: none;
    }

    .timeline-item {
      flex-direction: column;

      .timeline-marker {
        display: none;
      }

      .timeline-content {
        width: 100%;

        .timeline-content-wrapper {
          padding: 10px 1.5rem;
          width: 100%;
        }
      }

      &:nth-child(2n) {
        background: white;

        .timeline-image {
          order: 3;
        }

        .timeline-content {
          order: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1611px) {
  .timeline {
    .timeline-item {
      .timeline-image {
        img {
          width: 100%;
        }
      }

      .timeline-content {
        .timeline-content-wrapper {
          width: 100%;
        }
      }
    }
  }
}
