$timeline-background-color: $primary-background;
$timeline-border-color: $primary;
$timeline-block-spacing: 3rem 1.5rem; // spacing around timeline item content
$timeline-block-width: 750px;
$timeline-space: 15%; // amount of space the timeline column takes

.timeline {
  width: 100%;
  display: flex;
  flex-direction: column;

  .timeline-header {
    color: $text;
    width: 100%;
    display: flex;
    justify-content: center;

    span {
      background-color: $timeline-background-color;
      border: 1px solid $timeline-border-color;
      border-radius: 0;
      padding: 1.3rem 1.2rem;
  }
}

  .timeline-item {
    display: flex;
    background-color: $timeline-background-color;
    width: 100%;

    .timeline-image {
      flex-basis: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      order: 3;
      display: flex;
      justify-content: center;

      img {
        width: $timeline-block-width;
        height: 440px;
        object-fit: cover;
        padding: $timeline-block-spacing;
      }
    }

    .timeline-marker {
      flex-basis: $timeline-space;
      flex-grow: 1;
      flex-shrink: 1;
      order: 2;
      position: relative;

      &::before, &::after {
        content: '';
        position: absolute;
        border: 1px solid $timeline-border-color;
      }

      // Timeline (line)
      &::before {
        top: 0;
        width: 1px;
        height: 100%;
        z-index: 10;
        left: calc(50% - 1px);
      }

      // Circle on Timeline
      &::after {
        top: 50%;
        width: 25px;
        height: 25px;
        border-radius: 100vh;
        background-color: $timeline-background-color;
        z-index: 20;
        left: calc(50% - 12.5px);
      }
    }

    .timeline-content {
      flex-basis: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      order: 1;
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: center;
      justify-content: center;

      .timeline-content-wrapper {
        width: $timeline-block-width;
        padding: $timeline-block-spacing;
      }
    }

    &:nth-child(2n) {
      background: white;

      .timeline-image {
        order: 1;
      }

      .timeline-content {
        order: 3;
      }
    }
  }
}